<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517429811328-vd277herl275adbfleqire7ffl3ef573.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517429811328-vd277herl275adbfleqire7ffl3ef573</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517429811328-mei6brs7ng40l9o9hv4o1tmb4q5el54p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcTjoX7UGCj31w27oDcLj-N9h-9hdAXZo</string>
	<key>GCM_SENDER_ID</key>
	<string>517429811328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goaraaAppEg</string>
	<key>PROJECT_ID</key>
	<string>goaraa-350af</string>
	<key>STORAGE_BUCKET</key>
	<string>goaraa-350af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517429811328:ios:998c269f1aaa5d28502e65</string>
</dict>
</plist>